# Python .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
.env

# macOS specific
.DS_Store

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
